table.list {
	border-collapse: collapse;
	margin: 20px 0 15px;
}

table.list > thead th {
	background: #336699;
	color: #ffffff;
	padding: 8px 10px;
}

table.list > thead th:nth-child(2) {
	width: 100%;
}

table.list > tbody td {
	padding: 4px 10px;
}

table.list > tbody td:nth-child(3) {
	text-align: center;
}

table.list > tbody td:nth-child(4) {
	text-align: center;
}

table.list .summary {
	color: #999999;
}

